body { margin: 0; padding: 0; }

table {
	width: 100%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
td, th {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
th { padding: 2px 3px; text-align: center; }
td { padding: 3px 5px; }

.hide { display: none; }
.red { color: red; }
.text-center { text-align: center; }
.nowrap { white-space: nowrap; }

.name { width: 100%; }
td.date { text-align: right; padding-right: 0; }
td.ordinal { padding-left: 0; border-left: none; }
td .dollar { float: right; padding-left: 0.5em; }
td.month input { width: 95%; height: 100%; margin: 0; }

.modal {
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 5px;
	display: none;
	position: absolute;
	box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.6);
	background-color: white;
}
.modal-toggle:checked ~ .modal { display: block; }

#transaction-skip { width: 75px; }

@media (max-width: 768px) {
	table { font-size: 14px; }
}
